<div class="visible-screen-flexbox gap-5 p-2">
  <img
    src="/assets/images/house-architecture.png"
    class="w-screen h-full absolute object-cover opacity-[4%] -top-8"
  />
  <div
    class="flex font-mono flex-col w-full max-w-md gap-8 bg-base-100 rounded-2xl drop-shadow-xl border border-primary/35 px-10 pt-12 pb-12 relative"
  >
    <h1
      class="font-bold text-3xl text-center flex gap-2 items-center justify-center max-sm:text-xl"
    >
      Нулиране на парола
      <fa-icon
        class="text-xl max-sm:text-sm cursor-pointer tooltip tooltip-left"
        data-tip="Ще получите email с инструкции за нулиране и промяна на паролата Ви."
        [icon]="faCircleInfoIcon"
      />
    </h1>
    <form
      class="flex flex-col gap-2 -mt-2"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <app-input
        inputId="email"
        inputType="email"
        label="Email"
        [control]="resetPasswordForm.controls.email"
        [hasError]="inputHelpers.isInputInvalid('email')"
        [errorMessages]="{
          default: 'За нулирането е необходимо да въведете валиден работен email!',
        }"
        placeholder="georgi.ivanov@work.com"
      />

      <button
        [disabled]="hasSubmitted() && resetPasswordForm.invalid"
        type="submit"
        class="btn btn-primary w-full mt-1.5"
      >
        Продължи
      </button>
    </form>
  </div>
</div>
